.website-list {
    display: flex;
    justify-content: space-between;
  }
  
  .list-container {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Add scrollability */
  }